// 文章内链接文本样式 
.post-body p a{ 
    color: #067E9D; 
    border-bottom: none; 
    border-bottom: 1px solid #067E9D; 
    &:hover { 
        color: #fc6423; 
        border-bottom: none; 
        border-bottom: 1px solid #fc6423; 
    } 
}